* {
    font-family: 'Times New Roman', Times, serif
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 10px 0;
    margin-left: 50px;
    
}

header {
    background-color: #1f2937;
    height: 50px;
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    }

.hero {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;

}


.image {
    width: 300px;
    background-color: aquamarine;
    height: 300px;
}   

.information-container {
}

.quote-container {
    background-color: #e5e7eb;
}

.cta-container{
}

.link {
    color: #e5e7eb;
    font-size: 18px;
}

header, ul {
    display: flex;
    gap: 30px;
    padding: 10px 0;
    margin-right: 50px;
    margin: 0;
    list-style: none;
}

footer {
    height: 100px;
    background-color: #1f2937;
    border: solid 3px red;
}

section {
    height: 400px;
   
}