* {
    font-family: 'Times New Roman', Times, serif
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f2937;
    height: 50px;
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    }

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 10px 0;
    
}

header, ul {
    display: flex;
    gap: 30px;
    padding: 10px 0;
    margin-right: 50px;
    margin: 0;
    list-style: none;
}

.link {
    color: #e5e7eb;
    font-size: 18px;
}



.hero {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    gap: 160px;   
}

.sign-up, h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.sign-up, p {
    font-size: 18px;
    color: #e5e7eb;
}

.signup-button { 
    background-color: #3882f6;
    width: 100px;
    border-radius: 7%;
    height: 30px;
    border: none;
    color: #e5e7eb;
    font-size: 14px;
}

.sign-up {
    flex-basis: 400px;
    flex-shrink: 0;
}

.image-container {
    width: 600px;
    padding-bottom: 50px;

}


.image {
    background-color: grey;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}   

.information-container {
    height: 400px;
    
}

.information-container h1 {
    color: black;
    text-align: center;
}



.images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

figcaption {
    max-width: 200px;
    text-align: center;
}


.info {
    height: 200px;
    width: 200px;
    border-color: #3882f6;
    border: solid 3px;
    border-radius: 7%;
}

.quote-container {
    height: 300px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
}



.quote {
    color: black;
  
    width: 500px;
    font-size: 24px;
    margin-bottom: 0;
}

.author {
    color: black;
    font-weight: 900;
    text-align: right;
    margin-left: 330px;
}


.cta-container{
    height: 300px;
}





footer {
    height: 100px;
    background-color: #1f2937;
}

